@{
    ViewData["Title"] = "Iniciar Solicitação.";
}

<div class="text-center mt-5">
    <h1 class="display-4">Qual Solicitação deseja Fazer?</h1>
    <div class="d-flex justify-content-center mt-3">
        <a class="btn btn-primary mx-2" asp-area="" asp-controller="SolicitaCompras" asp-action="Create">Solicitar Compras</a>
        <a class="btn btn-primary mx-2" asp-area="" asp-controller="SolicitaServicos" asp-action="Create">Solicitar Serviços</a>
    </div>
</div>
